* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    }


body {
    background: url("images/Brown-background.jpeg") no-repeat center fixed;
    background-size: cover;
    min-height:100vh;
    cursor: 'new kursor';
}

/* beginning of navigation styling */

.header-nav li {
    display: inline-block;
    padding: 0 1.25rem;
}

.header-nav li a {
    color: rgb(255,191,2);
    text-decoration: overline;
    font-weight: bold;
    font-family: 'vonique64', serif;
}

.nav-toggle {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

.open {
    height: 100vh;
}

.hidden {
    display: none;
}

.header-nav li a:hover {
    color: rgb(216, 205, 194);
    font-family: 'vonique92', serif;
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(to right, #30e8bf, #ff8235);
    background-repeat: no-repeat;
    background-position: 120%, 122%, 0 130%;
    background-size: 100% 10px;
}

.container #ca {
    width: 5em;
}

.container #ca:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.header-nav ul {
    padding: 0;
}
/* End of Navigation styling */

     /* Mobile Nav */
     .landing{
        background: url("images/Brown-background.jpeg") no-repeat center fixed;
        background-size: cover;
    }

    header {
        width:100%;
        background-color: rgba(255, 192, 2, 0.471);
    }

    .header-nav .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 250ms height ease-in-out;
    }

    .nav-toggle {
        display: block;
    }

    .header-nav li {
        display: block;
        text-align: center;
        padding: 1.5rem;
    }

    .header-nav li a {
        color: #583723;
        font-size: 1.4rem;
    }

 @media (min-width: 600px) {
 }
/* End of Mobile Nav */

/* Intro */

.intro h1 {
    color: rgb(255,191,2);
    font-weight: bold;
    font-size: 3em;
    font-family: 'vonique92', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5em;
}

.intro h2 {
    font-size: 2em;
    font-family: 'vonique64', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(216, 205, 194);
    padding-bottom: 15em;
}
/* End of Intro Section */

@media only screen and (max-width: 768px) {
    /* For smaller screens */

    /* mobile Intro */
    .intro h1 {
        font-size: 1.6rem;
    }

    .intro h2 {
        font-size: 1.4rem;
    }


  }
